In [13]:
# If needed, create a virtual environment by uncommenting the line below:
!python3 -m venv .venv

# On macOS/Linux:
!source .venv/bin/activate 

# Install the required packages by uncommenting the line below:
%pip install -r ./requirements.txt

Requirement already satisfied: numpy in ./.venv/lib/python3.14/site-packages (from -r ./requirements.txt (line 2)) (2.3.4)
Requirement already satisfied: pandas in ./.venv/lib/python3.14/site-packages (from -r ./requirements.txt (line 3)) (2.3.3)
Requirement already satisfied: matplotlib in ./.venv/lib/python3.14/site-packages (from -r ./requirements.txt (line 4)) (3.10.7)
Requirement already satisfied: seaborn in ./.venv/lib/python3.14/site-packages (from -r ./requirements.txt (line 5)) (0.13.2)
Collecting polars (from -r ./requirements.txt (line 6))
  Downloading polars-1.35.1-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: scikit-learn in ./.venv/lib/python3.14/site-packages (from -r ./requirements.txt (line 9)) (1.7.2)
Requirement already satisfied: xgboost in ./.venv/lib/python3.14/site-packages (from -r ./requirements.txt (line 10)) (3.1.1)
Requirement already satisfied: lightgbm in ./.venv/lib/python3.14/site-packages (from -r ./requirements.txt (line 11)) (4.6.0)
Requirement already satisfied: openpyxl in ./.venv/lib/python3.14/site-packages (from -r ./requirements.txt (line 14)) (3.1.5)
Requirement already satisfied: xlrd in ./.venv/lib/python3.14/site-packages (from -r ./requirements.txt (line 15)) (2.0.2)
Requirement already satisfied: pyarrow in ./.venv/lib/python3.14/site-packages (from -r ./requirements.txt (line 16)) (22.0.0)
Requirement already satisfied: scipy in ./.venv/lib/python3.14/site-packages (from -r ./requirements.txt (line 19)) (1.16.3)
Requirement already satisfied: statsmodels in ./.venv/lib/python3.14/site-packages (from -r ./requirements.txt (line 20)) (0.14.5)
Requirement already satisfied: jupyter in ./.venv/lib/python3.14/site-packages (from -r ./requirements.txt (line 23)) (1.1.1)
Requirement already satisfied: jupyterlab in ./.venv/lib/python3.14/site-packages (from -r ./requirements.txt (line 24)) (4.4.10)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.14/site-packages (from pandas->-r ./requirements.txt (line 3)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.14/site-packages (from pandas->-r ./requirements.txt (line 3)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.14/site-packages (from pandas->-r ./requirements.txt (line 3)) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.14/site-packages (from matplotlib->-r ./requirements.txt (line 4)) (1.3.3)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.14/site-packages (from matplotlib->-r ./requirements.txt (line 4)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.14/site-packages (from matplotlib->-r ./requirements.txt (line 4)) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.14/site-packages (from matplotlib->-r ./requirements.txt (line 4)) (1.4.9)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.14/site-packages (from matplotlib->-r ./requirements.txt (line 4)) (25.0)
Requirement already satisfied: pillow>=8 in ./.venv/lib/python3.14/site-packages (from matplotlib->-r ./requirements.txt (line 4)) (12.0.0)
Requirement already satisfied: pyparsing>=3 in ./.venv/lib/python3.14/site-packages (from matplotlib->-r ./requirements.txt (line 4)) (3.2.5)
Collecting polars-runtime-32==1.35.1 (from polars->-r ./requirements.txt (line 6))
  Downloading polars_runtime_32-1.35.1-cp39-abi3-macosx_11_0_arm64.whl.metadata (1.5 kB)
Requirement already satisfied: joblib>=1.2.0 in ./.venv/lib/python3.14/site-packages (from scikit-learn->-r ./requirements.txt (line 9)) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./.venv/lib/python3.14/site-packages (from scikit-learn->-r ./requirements.txt (line 9)) (3.6.0)
Requirement already satisfied: et-xmlfile in ./.venv/lib/python3.14/site-packages (from openpyxl->-r ./requirements.txt (line 14)) (2.0.0)
Requirement already satisfied: patsy>=0.5.6 in ./.venv/lib/python3.14/site-packages (from statsmodels->-r ./requirements.txt (line 20)) (1.0.2)
Requirement already satisfied: notebook in ./.venv/lib/python3.14/site-packages (from jupyter->-r ./requirements.txt (line 23)) (7.4.7)
Requirement already satisfied: jupyter-console in ./.venv/lib/python3.14/site-packages (from jupyter->-r ./requirements.txt (line 23)) (6.6.3)
Requirement already satisfied: nbconvert in ./.venv/lib/python3.14/site-packages (from jupyter->-r ./requirements.txt (line 23)) (7.16.6)
Requirement already satisfied: ipykernel in ./.venv/lib/python3.14/site-packages (from jupyter->-r ./requirements.txt (line 23)) (7.1.0)
Requirement already satisfied: ipywidgets in ./.venv/lib/python3.14/site-packages (from jupyter->-r ./requirements.txt (line 23)) (8.1.8)
Requirement already satisfied: async-lru>=1.0.0 in ./.venv/lib/python3.14/site-packages (from jupyterlab->-r ./requirements.txt (line 24)) (2.0.5)
Requirement already satisfied: httpx<1,>=0.25.0 in ./.venv/lib/python3.14/site-packages (from jupyterlab->-r ./requirements.txt (line 24)) (0.28.1)
Requirement already satisfied: jinja2>=3.0.3 in ./.venv/lib/python3.14/site-packages (from jupyterlab->-r ./requirements.txt (line 24)) (3.1.6)
Requirement already satisfied: jupyter-core in ./.venv/lib/python3.14/site-packages (from jupyterlab->-r ./requirements.txt (line 24)) (5.9.1)
Requirement already satisfied: jupyter-lsp>=2.0.0 in ./.venv/lib/python3.14/site-packages (from jupyterlab->-r ./requirements.txt (line 24)) (2.3.0)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in ./.venv/lib/python3.14/site-packages (from jupyterlab->-r ./requirements.txt (line 24)) (2.17.0)
Requirement already satisfied: jupyterlab-server<3,>=2.27.1 in ./.venv/lib/python3.14/site-packages (from jupyterlab->-r ./requirements.txt (line 24)) (2.28.0)
Requirement already satisfied: notebook-shim>=0.2 in ./.venv/lib/python3.14/site-packages (from jupyterlab->-r ./requirements.txt (line 24)) (0.2.4)
Requirement already satisfied: setuptools>=41.1.0 in ./.venv/lib/python3.14/site-packages (from jupyterlab->-r ./requirements.txt (line 24)) (80.9.0)
Requirement already satisfied: tornado>=6.2.0 in ./.venv/lib/python3.14/site-packages (from jupyterlab->-r ./requirements.txt (line 24)) (6.5.2)
Requirement already satisfied: traitlets in ./.venv/lib/python3.14/site-packages (from jupyterlab->-r ./requirements.txt (line 24)) (5.14.3)
Requirement already satisfied: anyio in ./.venv/lib/python3.14/site-packages (from httpx<1,>=0.25.0->jupyterlab->-r ./requirements.txt (line 24)) (4.11.0)
Requirement already satisfied: certifi in ./.venv/lib/python3.14/site-packages (from httpx<1,>=0.25.0->jupyterlab->-r ./requirements.txt (line 24)) (2025.10.5)
Requirement already satisfied: httpcore==1.* in ./.venv/lib/python3.14/site-packages (from httpx<1,>=0.25.0->jupyterlab->-r ./requirements.txt (line 24)) (1.0.9)
Requirement already satisfied: idna in ./.venv/lib/python3.14/site-packages (from httpx<1,>=0.25.0->jupyterlab->-r ./requirements.txt (line 24)) (3.11)
Requirement already satisfied: h11>=0.16 in ./.venv/lib/python3.14/site-packages (from httpcore==1.*->httpx<1,>=0.25.0->jupyterlab->-r ./requirements.txt (line 24)) (0.16.0)
Requirement already satisfied: argon2-cffi>=21.1 in ./.venv/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (25.1.0)
Requirement already satisfied: jupyter-client>=7.4.4 in ./.venv/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (8.6.3)
Requirement already satisfied: jupyter-events>=0.11.0 in ./.venv/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (0.12.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in ./.venv/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (0.5.3)
Requirement already satisfied: nbformat>=5.3.0 in ./.venv/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (5.10.4)
Requirement already satisfied: prometheus-client>=0.9 in ./.venv/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (0.23.1)
Requirement already satisfied: pyzmq>=24 in ./.venv/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (27.1.0)
Requirement already satisfied: send2trash>=1.8.2 in ./.venv/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in ./.venv/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (0.18.1)
Requirement already satisfied: websocket-client>=1.7 in ./.venv/lib/python3.14/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (1.9.0)
Requirement already satisfied: babel>=2.10 in ./.venv/lib/python3.14/site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->-r ./requirements.txt (line 24)) (2.17.0)
Requirement already satisfied: json5>=0.9.0 in ./.venv/lib/python3.14/site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->-r ./requirements.txt (line 24)) (0.12.1)
Requirement already satisfied: jsonschema>=4.18.0 in ./.venv/lib/python3.14/site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->-r ./requirements.txt (line 24)) (4.25.1)
Requirement already satisfied: requests>=2.31 in ./.venv/lib/python3.14/site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->-r ./requirements.txt (line 24)) (2.32.5)
Requirement already satisfied: sniffio>=1.1 in ./.venv/lib/python3.14/site-packages (from anyio->httpx<1,>=0.25.0->jupyterlab->-r ./requirements.txt (line 24)) (1.3.1)
Requirement already satisfied: argon2-cffi-bindings in ./.venv/lib/python3.14/site-packages (from argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (25.1.0)
Requirement already satisfied: appnope>=0.1.2 in ./.venv/lib/python3.14/site-packages (from ipykernel->jupyter->-r ./requirements.txt (line 23)) (0.1.4)
Requirement already satisfied: comm>=0.1.1 in ./.venv/lib/python3.14/site-packages (from ipykernel->jupyter->-r ./requirements.txt (line 23)) (0.2.3)
Requirement already satisfied: debugpy>=1.6.5 in ./.venv/lib/python3.14/site-packages (from ipykernel->jupyter->-r ./requirements.txt (line 23)) (1.8.17)
Requirement already satisfied: ipython>=7.23.1 in ./.venv/lib/python3.14/site-packages (from ipykernel->jupyter->-r ./requirements.txt (line 23)) (9.6.0)
Requirement already satisfied: matplotlib-inline>=0.1 in ./.venv/lib/python3.14/site-packages (from ipykernel->jupyter->-r ./requirements.txt (line 23)) (0.2.1)
Requirement already satisfied: nest-asyncio>=1.4 in ./.venv/lib/python3.14/site-packages (from ipykernel->jupyter->-r ./requirements.txt (line 23)) (1.6.0)
Requirement already satisfied: psutil>=5.7 in ./.venv/lib/python3.14/site-packages (from ipykernel->jupyter->-r ./requirements.txt (line 23)) (7.1.3)
Requirement already satisfied: decorator in ./.venv/lib/python3.14/site-packages (from ipython>=7.23.1->ipykernel->jupyter->-r ./requirements.txt (line 23)) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in ./.venv/lib/python3.14/site-packages (from ipython>=7.23.1->ipykernel->jupyter->-r ./requirements.txt (line 23)) (1.1.1)
Requirement already satisfied: jedi>=0.16 in ./.venv/lib/python3.14/site-packages (from ipython>=7.23.1->ipykernel->jupyter->-r ./requirements.txt (line 23)) (0.19.2)
Requirement already satisfied: pexpect>4.3 in ./.venv/lib/python3.14/site-packages (from ipython>=7.23.1->ipykernel->jupyter->-r ./requirements.txt (line 23)) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in ./.venv/lib/python3.14/site-packages (from ipython>=7.23.1->ipykernel->jupyter->-r ./requirements.txt (line 23)) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in ./.venv/lib/python3.14/site-packages (from ipython>=7.23.1->ipykernel->jupyter->-r ./requirements.txt (line 23)) (2.19.2)
Requirement already satisfied: stack_data in ./.venv/lib/python3.14/site-packages (from ipython>=7.23.1->ipykernel->jupyter->-r ./requirements.txt (line 23)) (0.6.3)
Requirement already satisfied: wcwidth in ./.venv/lib/python3.14/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython>=7.23.1->ipykernel->jupyter->-r ./requirements.txt (line 23)) (0.2.14)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in ./.venv/lib/python3.14/site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->jupyter->-r ./requirements.txt (line 23)) (0.8.5)
Requirement already satisfied: MarkupSafe>=2.0 in ./.venv/lib/python3.14/site-packages (from jinja2>=3.0.3->jupyterlab->-r ./requirements.txt (line 24)) (3.0.3)
Requirement already satisfied: attrs>=22.2.0 in ./.venv/lib/python3.14/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->-r ./requirements.txt (line 24)) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in ./.venv/lib/python3.14/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->-r ./requirements.txt (line 24)) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in ./.venv/lib/python3.14/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->-r ./requirements.txt (line 24)) (0.37.0)
Requirement already satisfied: rpds-py>=0.7.1 in ./.venv/lib/python3.14/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->-r ./requirements.txt (line 24)) (0.28.0)
Requirement already satisfied: platformdirs>=2.5 in ./.venv/lib/python3.14/site-packages (from jupyter-core->jupyterlab->-r ./requirements.txt (line 24)) (4.5.0)
Requirement already satisfied: python-json-logger>=2.0.4 in ./.venv/lib/python3.14/site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (4.0.0)
Requirement already satisfied: pyyaml>=5.3 in ./.venv/lib/python3.14/site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (6.0.3)
Requirement already satisfied: rfc3339-validator in ./.venv/lib/python3.14/site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in ./.venv/lib/python3.14/site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (0.1.1)
Requirement already satisfied: fqdn in ./.venv/lib/python3.14/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (1.5.1)
Requirement already satisfied: isoduration in ./.venv/lib/python3.14/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in ./.venv/lib/python3.14/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (3.0.0)
Requirement already satisfied: rfc3987-syntax>=1.1.0 in ./.venv/lib/python3.14/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (1.1.0)
Requirement already satisfied: uri-template in ./.venv/lib/python3.14/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (1.3.0)
Requirement already satisfied: webcolors>=24.6.0 in ./.venv/lib/python3.14/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (25.10.0)
Requirement already satisfied: beautifulsoup4 in ./.venv/lib/python3.14/site-packages (from nbconvert->jupyter->-r ./requirements.txt (line 23)) (4.14.2)
Requirement already satisfied: bleach!=5.0.0 in ./.venv/lib/python3.14/site-packages (from bleach[css]!=5.0.0->nbconvert->jupyter->-r ./requirements.txt (line 23)) (6.3.0)
Requirement already satisfied: defusedxml in ./.venv/lib/python3.14/site-packages (from nbconvert->jupyter->-r ./requirements.txt (line 23)) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in ./.venv/lib/python3.14/site-packages (from nbconvert->jupyter->-r ./requirements.txt (line 23)) (0.3.0)
Requirement already satisfied: mistune<4,>=2.0.3 in ./.venv/lib/python3.14/site-packages (from nbconvert->jupyter->-r ./requirements.txt (line 23)) (3.1.4)
Requirement already satisfied: nbclient>=0.5.0 in ./.venv/lib/python3.14/site-packages (from nbconvert->jupyter->-r ./requirements.txt (line 23)) (0.10.2)
Requirement already satisfied: pandocfilters>=1.4.1 in ./.venv/lib/python3.14/site-packages (from nbconvert->jupyter->-r ./requirements.txt (line 23)) (1.5.1)
Requirement already satisfied: webencodings in ./.venv/lib/python3.14/site-packages (from bleach!=5.0.0->bleach[css]!=5.0.0->nbconvert->jupyter->-r ./requirements.txt (line 23)) (0.5.1)
Requirement already satisfied: tinycss2<1.5,>=1.1.0 in ./.venv/lib/python3.14/site-packages (from bleach[css]!=5.0.0->nbconvert->jupyter->-r ./requirements.txt (line 23)) (1.4.0)
Requirement already satisfied: fastjsonschema>=2.15 in ./.venv/lib/python3.14/site-packages (from nbformat>=5.3.0->jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (2.21.2)
Requirement already satisfied: ptyprocess>=0.5 in ./.venv/lib/python3.14/site-packages (from pexpect>4.3->ipython>=7.23.1->ipykernel->jupyter->-r ./requirements.txt (line 23)) (0.7.0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.14/site-packages (from python-dateutil>=2.8.2->pandas->-r ./requirements.txt (line 3)) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in ./.venv/lib/python3.14/site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab->-r ./requirements.txt (line 24)) (3.4.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.14/site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab->-r ./requirements.txt (line 24)) (2.5.0)
Requirement already satisfied: lark>=1.2.2 in ./.venv/lib/python3.14/site-packages (from rfc3987-syntax>=1.1.0->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (1.3.1)
Requirement already satisfied: cffi>=2.0.0b1 in ./.venv/lib/python3.14/site-packages (from argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (2.0.0)
Requirement already satisfied: pycparser in ./.venv/lib/python3.14/site-packages (from cffi>=2.0.0b1->argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->jupyterlab->-r ./requirements.txt (line 24)) (2.23)
Requirement already satisfied: soupsieve>1.2 in ./.venv/lib/python3.14/site-packages (from beautifulsoup4->nbconvert->jupyter->-r ./requirements.txt (line 23)) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in ./.venv/lib/python3.14/site-packages (from beautifulsoup4->nbconvert->jupyter->-r ./requirements.txt (line 23)) (4.15.0)
Requirement already satisfied: widgetsnbextension~=4.0.14 in ./.venv/lib/python3.14/site-packages (from ipywidgets->jupyter->-r ./requirements.txt (line 23)) (4.0.15)
Requirement already satisfied: jupyterlab_widgets~=3.0.15 in ./.venv/lib/python3.14/site-packages (from ipywidgets->jupyter->-r ./requirements.txt (line 23)) (3.0.16)

In [3]:
import pandas as pd

df_eta = pd.read_parquet("Data/raw/StockEtablissement_utf8.parquet", engine='pyarrow')

In [4]:
df_eta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42151993 entries, 0 to 42151992
Data columns (total 53 columns):
 #   Column                                          Dtype
---  ------                                          -----
 0   siren                                           object
 1   nic                                             int64
 2   siret                                           object
 3   statutDiffusionEtablissement                    object
 4   dateCreationEtablissement                       object
 5   trancheEffectifsEtablissement                   object
 6   anneeEffectifsEtablissement                     float64
 7   activitePrincipaleRegistreMetiersEtablissement  object
 8   dateDernierTraitementEtablissement              datetime64[us]
 9   etablissementSiege                              bool
 10  nombrePeriodesEtablissement                     int64
 11  complementAdresseEtablissement                  object
 12  numeroVoieEtablissement                         object
 13  indiceRepetitionEtablissement                   object
 14  dernierNumeroVoieEtablissement                  object
 15  indiceRepetitionDernierNumeroVoieEtablissement  object
 16  typeVoieEtablissement                           object
 17  libelleVoieEtablissement                        object
 18  codePostalEtablissement                         object
 19  libelleCommuneEtablissement                     object
 20  libelleCommuneEtrangerEtablissement             object
 21  distributionSpecialeEtablissement               object
 22  codeCommuneEtablissement                        object
 23  codeCedexEtablissement                          object
 24  libelleCedexEtablissement                       object
 25  codePaysEtrangerEtablissement                   object
 26  libellePaysEtrangerEtablissement                object
 27  identifiantAdresseEtablissement                 object
 28  coordonneeLambertAbscisseEtablissement          object
 29  coordonneeLambertOrdonneeEtablissement          object
 30  complementAdresse2Etablissement                 object
 31  numeroVoie2Etablissement                        object
 32  indiceRepetition2Etablissement                  object
 33  typeVoie2Etablissement                          object
 34  libelleVoie2Etablissement                       object
 35  codePostal2Etablissement                        object
 36  libelleCommune2Etablissement                    object
 37  libelleCommuneEtranger2Etablissement            object
 38  distributionSpeciale2Etablissement              object
 39  codeCommune2Etablissement                       object
 40  codeCedex2Etablissement                         object
 41  libelleCedex2Etablissement                      object
 42  codePaysEtranger2Etablissement                  object
 43  libellePaysEtranger2Etablissement               object
 44  dateDebut                                       object
 45  etatAdministratifEtablissement                  object
 46  enseigne1Etablissement                          object
 47  enseigne2Etablissement                          object
 48  enseigne3Etablissement                          object
 49  denominationUsuelleEtablissement                object
 50  activitePrincipaleEtablissement                 object
 51  nomenclatureActivitePrincipaleEtablissement     object
 52  caractereEmployeurEtablissement                 object
dtypes: bool(1), datetime64[us](1), float64(1), int64(2), object(48)
memory usage: 16.4+ GB

In [5]:
df_eta.head()

,siren,nic,siret,statutDiffusionEtablissement,dateCreationEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,etablissementSiege,...,libellePaysEtranger2Etablissement,dateDebut,etatAdministratifEtablissement,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,denominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,caractereEmployeurEtablissement
0,000325175,16,00032517500016,O,2000-09-26,NN,NaN,3212ZZ,2024-03-22 15:40:57,False,...,None,2009-05-27,F,None,None,None,None,32.12Z,NAFRev2,N
1,000325175,24,00032517500024,O,2008-05-20,NN,NaN,None,2025-01-27 02:35:48,False,...,None,2011-10-21,F,TAHITI PERLES CREATIONS,None,None,None,47.89Z,NAFRev2,N
2,000325175,32,00032517500032,O,2009-05-27,NN,NaN,None,2025-01-27 02:31:40,False,...,None,2011-10-21,F,TAHITI PERLES CREATIONS,None,None,None,32.12Z,NAFRev2,N
3,000325175,40,00032517500040,O,2011-10-21,NN,NaN,3212ZZ,2024-03-30 05:48:29,False,...,None,2014-01-07,F,TAHITI PERLES CREATION,None,None,None,32.12Z,NAFRev2,N
4,000325175,57,00032517500057,O,2014-01-07,NN,NaN,None,2024-03-30 05:29:10,False,...,None,2018-02-07,F,TAHITI PERLES CREATION,None,None,None,32.12Z,NAFRev2,N

In [6]:
df_unit_legal = pd.read_parquet("Data/raw/StockUniteLegale_utf8.parquet", engine='pyarrow')

In [7]:
df_unit_legal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28882409 entries, 0 to 28882408
Data columns (total 34 columns):
 #   Column                                     Dtype
---  ------                                     -----
 0   siren                                      object
 1   statutDiffusionUniteLegale                 object
 2   unitePurgeeUniteLegale                     object
 3   dateCreationUniteLegale                    object
 4   sigleUniteLegale                           object
 5   sexeUniteLegale                            object
 6   prenom1UniteLegale                         object
 7   prenom2UniteLegale                         object
 8   prenom3UniteLegale                         object
 9   prenom4UniteLegale                         object
 10  prenomUsuelUniteLegale                     object
 11  pseudonymeUniteLegale                      object
 12  identifiantAssociationUniteLegale          object
 13  trancheEffectifsUniteLegale                object
 14  anneeEffectifsUniteLegale                  float64
 15  dateDernierTraitementUniteLegale           datetime64[us]
 16  nombrePeriodesUniteLegale                  int64
 17  categorieEntreprise                        object
 18  anneeCategorieEntreprise                   float64
 19  dateDebut                                  object
 20  etatAdministratifUniteLegale               object
 21  nomUniteLegale                             object
 22  nomUsageUniteLegale                        object
 23  denominationUniteLegale                    object
 24  denominationUsuelle1UniteLegale            object
 25  denominationUsuelle2UniteLegale            object
 26  denominationUsuelle3UniteLegale            object
 27  categorieJuridiqueUniteLegale              int64
 28  activitePrincipaleUniteLegale              object
 29  nomenclatureActivitePrincipaleUniteLegale  object
 30  nicSiegeUniteLegale                        int64
 31  economieSocialeSolidaireUniteLegale        object
 32  societeMissionUniteLegale                  object
 33  caractereEmployeurUniteLegale              object
dtypes: datetime64[us](1), float64(2), int64(3), object(28)
memory usage: 7.3+ GB

In [8]:
df_unit_legal.head()

,siren,statutDiffusionUniteLegale,unitePurgeeUniteLegale,dateCreationUniteLegale,sigleUniteLegale,sexeUniteLegale,prenom1UniteLegale,prenom2UniteLegale,prenom3UniteLegale,prenom4UniteLegale,...,denominationUsuelle1UniteLegale,denominationUsuelle2UniteLegale,denominationUsuelle3UniteLegale,categorieJuridiqueUniteLegale,activitePrincipaleUniteLegale,nomenclatureActivitePrincipaleUniteLegale,nicSiegeUniteLegale,economieSocialeSolidaireUniteLegale,societeMissionUniteLegale,caractereEmployeurUniteLegale
0,000325175,O,None,2000-09-26,None,M,THIERRY,None,None,None,...,None,None,None,1000,32.12Z,NAFRev2,65,None,None,None
1,001807254,O,None,1972-05-01,None,M,JACQUES-LUCIEN,None,None,None,...,None,None,None,1000,85.59A,NAFRev2,22,None,None,None
2,005410220,O,True,1954-12-25,None,M,GEORGES,None,None,None,...,None,None,None,1000,22.02,NAP,15,None,None,None
3,005410345,O,True,None,None,M,MICHEL,None,None,None,...,None,None,None,1000,79.06,NAP,10,None,None,None
4,005410394,O,True,1954-12-25,None,M,ROBERT,ALFRED,None,None,...,None,None,None,1000,64.42,NAP,18,None,None,None

In [ ]:
import pandas as pd

df_bilan = pd.read_parquet("Data/raw/ExportDetailBilan.parquet", engine='pyarrow')

In [7]:
import polars as pl
import pyarrow.parquet as pq  # C'est le moteur 4x4
import sys

# Indique le chemin de ton fichier
filepath = "Data/raw/ExportDetailBilan.parquet" 

print("--- Début de la lecture 'bypass' ---")

try:
    # ÉTAPE 1 : On lit avec le 4x4 (PyArrow), qui est robuste.
    # On ne prend que les 2 colonnes qui nous intéressent (c'est plus rapide)
    print(f"Lecture du fichier via PyArrow (le moteur robuste) : {filepath}")
    table_arrow = pq.read_table(
        filepath,
        columns=["siren", "liasse"]
    )
    
    # ÉTAPE 2 : On passe la data (sans la copier !) à la F1 (Polars)
    print("Conversion de la table PyArrow en DataFrame Polars...")
    df_bilan_pl = pl.from_arrow(table_arrow)
    
    print("--- SUCCÈS ! ---")
    print("Le DataFrame est maintenant dans Polars, prêt pour la transformation.")
    print(df_bilan_pl.head())

except Exception as e:
    print(f"--- ERREUR ---", file=sys.stderr)
    print(f"Impossible de lire le fichier, même avec PyArrow : {e}", file=sys.stderr)

--- Début de la lecture 'bypass' ---
Lecture du fichier via PyArrow (le moteur robuste) : Data/raw/ExportDetailBilan.parquet
Conversion de la table PyArrow en DataFrame Polars...
--- SUCCÈS ! ---
Le DataFrame est maintenant dans Polars, prêt pour la transformation.
shape: (5, 2)
┌───────────┬─────────────────────────────────┐
│ siren     ┆ liasse                          │
│ ---       ┆ ---                             │
│ str       ┆ list[struct[2]]                 │
╞═══════════╪═════════════════════════════════╡
│ 005420120 ┆ [{"HF",111571}, {"BH-BI",2559}… │
│ 005420120 ┆ [{"GK",74833}, {"AS",90304}, …… │
│ 005420120 ┆ [{"HF",151562}, {"NH",5850813}… │
│ 005420120 ┆ [{"HC",918483}, {"CU-CV",66917… │
│ 005420120 ┆ [{"AO",425420}, {"CH-CI",14383… │
└───────────┴─────────────────────────────────┘

In [6]:
import pandas as pd

df_bilan_pl.describe()

shape: (9, 3)
┌────────────┬───────────┬────────────┐
│ statistic  ┆ siren     ┆ liasse     │
│ ---        ┆ ---       ┆ ---        │
│ str        ┆ str       ┆ f64        │
╞════════════╪═══════════╪════════════╡
│ count      ┆ 4976444   ┆ 4.976444e6 │
│ null_count ┆ 0         ┆ 0.0        │
│ mean       ┆ null      ┆ null       │
│ std        ┆ null      ┆ null       │
│ min        ┆ 005420120 ┆ null       │
│ 25%        ┆ null      ┆ null       │
│ 50%        ┆ null      ┆ null       │
│ 75%        ┆ null      ┆ null       │
│ max        ┆ 999990542 ┆ null       │
└────────────┴───────────┴────────────┘

In [5]:
df_bilan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4976444 entries, 0 to 4976443
Data columns (total 5 columns):
 #   Column                 Dtype
---  ------                 -----
 0   siren                  object
 1   date_cloture_exercice  object
 2   type_bilan             object
 3   confidentiality        object
 4   liasse                 object
dtypes: object(5)
memory usage: 189.8+ MB

In [6]:
df_bilan.head()

,siren,date_cloture_exercice,type_bilan,confidentiality,liasse
0,005420120,2018-12-31,C,Public,"[(HF, 111571), (BH-BI, 2559), (CJ-CK, 15117606..."
1,005420120,2021-12-31,C,Public,"[(GK, 74833), (AS, 90304), (BD-BE, 53687), (BJ..."
2,005420120,2017-12-31,C,Public,"[(HF, 151562), (NH, 5850813), (0N, 2332766), (..."
3,005420120,2016-12-31,C,Public,"[(HC, 918483), (CU-CV, 66917249), (DJ, 5637), ..."
4,005420120,2019-12-31,C,Public,"[(AO, 425420), (CH-CI, 14383), (DK, 207454), (..."

In [7]:
# je veux afficher tout ce qui est dans la columns liassse pour la première ligne
df_bilan['liasse'].iloc[0]

[('HF', 111571),
 ('BH-BI', 2559),
 ('CJ-CK', 15117606),
 ('DO', 0),
 ('EA', 123502),
 ('EG', 841098),
 ('FW', 385776),
 ('GA', 224479),
 ('GL', 619956),
 ('CD-CE', 12917722),
 ('QU', 2368581),
 ('CF', 1404319),
 ('FY', 559989),
 ('AT', 244629),
 ('EC', 4341098),
 ('FJ', 135797),
 ('FL', 135797),
 ('UC', 12390),
 ('EB', 338608),
 ('CD', 13219183),
 ('CF-CG', 1404319),
 ('FA', 4623),
 ('HE', 0),
 ('HN', -289131),
 ('ØJ', 2377248),
 ('PE', 28475),
 ('AN-AO', 1888651),
 ('LW', 568768),
 ('MY', 0),
 ('ØR', 2563605),
 ('HB', 209176),
 ('DJ', 1064),
 ('FQ', 206166),
 ('BB-BC', 9347425),
 ('BV', 199270),
 ('CO', 102067174),
 ('GG', -1281259),
 ('AV-AW', 302441),
 ('CH', 36923),
 ('DQ', 2839131),
 ('ØQ', 57930),
 ('0N', 2397056),
 ('BI', 0),
 ('BY', 0),
 ('BZ-CA', 529304),
 ('GK', 28079),
 ('GU', 270861),
 ('HG', 9499),
 ('LQ', 76770039),
 ('AG', 28475),
 ('AF', 28475),
 ('AO', 400322),
 ('AR', 91228),
 ('CJ', 17122824),
 ('DK', 217140),
 ('FP', 128933),
 ('FS', 4623),
 ('0G', 82649327),
 ('KD', 28475),
 ('UD', 217140),
 ('GE', 140764),
 ('HK', -36345),
 ('KE', 0),
 ('QX', 2508086),
 ('CH-CI', 36923),
 ('AT-AU', 47706),
 ('CU-CV', 68919865),
 ('DB', 7963),
 ('DI', -289131),
 ('LS', 1503473),
 ('AJ-AK', 513249),
 ('CE', 301461),
 ('DA', 711840),
 ('FH', 0),
 ('LO', 0),
 ('LP', 333483),
 ('NH', 6102070),
 ('ØL', 84944350),
 ('AS', 80009),
 ('FI', 130220),
 ('FZ', 273524),
 ('FG', 130220),
 ('AP', 3174799),
 ('BX-BY', 30068),
 ('DY', 125863),
 ('AK', 27044),
 ('AR-AS', 11219),
 ('CV', 0),
 ('DG', 89549282),
 ('DR', 2887911),
 ('FU', 23923),
 ('ØK', 82226),
 ('AN', 2288972),
 ('CR', 1299000),
 ('GR', 8056),
 ('ØP', 224479),
 ('BD-BE', 3663),
 ('BJ-BK', 82380745),
 ('CO-1A', 97498351),
 ('FE', 0),
 ('HA', 280517),
 ('AP-AQ', 1343968),
 ('DD', 71183),
 ('GQ', 262805),
 ('HI', 481014),
 ('BD', 3663),
 ('BX', 30068),
 ('NG', 82226),
 ('AU', 196924),
 ('BK', 2563605),
 ('BV-BW', 199270),
 ('DL', 90269342),
 ('EE', 97498351),
 ('AQ', 1830832),
 ('AF-AG', 0),
 ('AV', 302441),
 ('BC', 0),
 ('DX', 148218),
 ('GJ', 39482),
 ('GV', 474769),
 ('HL', 1818609),
 ('1A', 4568823),
 ('DP', 48780),
 ('FB', 0),
 ('FD', 954),
 ('UB', 9499),
 ('BH', 2559),
 ('HC', 112390),
 ('HH', 121070),
 ('PF', 27044),
 ('QV', 197435),
 ('AW', 0),
 ('DV', 2604908),
 ('FK', 0),
 ('GM', 58113),
 ('GP', 745630),
 ('GW', -806491),
 ('CG', 0),
 ('CI', 0),
 ('DZ', 1000000),
 ('FC', 4623),
 ('FX', 131400),
 ('PH', 55519),
 ('BW', 0),
 ('CU', 68919865),
 ('GF', 1752156),
 ('I3', 0),
 ('LN', 5850813),
 ('NK', 78273512),
 ('BE', 0),
 ('BJ', 84944350),
 ('BZ', 2233060),
 ('CK', 2005218),
 ('HD', 602083),
 ('HM', 2107740),
 ('BB', 9347425),
 ('CA', 1703757),
 ('GD', 7678),
 ('AJ', 540293),
 ('FF', 954),
 ('FR', 470896),
 ('I4', 0),
 ('ØH', 0),
 ('QW', 57930),
 ('7C', 220031)]

In [9]:
df_flat = df_bilan.explode("liasse")

In [11]:
df_flat.head()

,siren,date_cloture_exercice,type_bilan,confidentiality,liasse
0,005420120,2018-12-31,C,Public,"(HF, 111571)"
0,005420120,2018-12-31,C,Public,"(BH-BI, 2559)"
0,005420120,2018-12-31,C,Public,"(CJ-CK, 15117606)"
0,005420120,2018-12-31,C,Public,"(DO, 0)"
0,005420120,2018-12-31,C,Public,"(EA, 123502)"