In [3]:
import pandas as pd

df_eta = pd.read_parquet("Data/raw/StockEtablissement_utf8.parquet", engine='pyarrow')

In [4]:
df_eta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42151993 entries, 0 to 42151992
Data columns (total 53 columns):
 #   Column                                          Dtype
---  ------                                          -----
 0   siren                                           object
 1   nic                                             int64
 2   siret                                           object
 3   statutDiffusionEtablissement                    object
 4   dateCreationEtablissement                       object
 5   trancheEffectifsEtablissement                   object
 6   anneeEffectifsEtablissement                     float64
 7   activitePrincipaleRegistreMetiersEtablissement  object
 8   dateDernierTraitementEtablissement              datetime64[us]
 9   etablissementSiege                              bool
 10  nombrePeriodesEtablissement                     int64
 11  complementAdresseEtablissement                  object
 12  numeroVoieEtablissement                         object
 13  indiceRepetitionEtablissement                   object
 14  dernierNumeroVoieEtablissement                  object
 15  indiceRepetitionDernierNumeroVoieEtablissement  object
 16  typeVoieEtablissement                           object
 17  libelleVoieEtablissement                        object
 18  codePostalEtablissement                         object
 19  libelleCommuneEtablissement                     object
 20  libelleCommuneEtrangerEtablissement             object
 21  distributionSpecialeEtablissement               object
 22  codeCommuneEtablissement                        object
 23  codeCedexEtablissement                          object
 24  libelleCedexEtablissement                       object
 25  codePaysEtrangerEtablissement                   object
 26  libellePaysEtrangerEtablissement                object
 27  identifiantAdresseEtablissement                 object
 28  coordonneeLambertAbscisseEtablissement          object
 29  coordonneeLambertOrdonneeEtablissement          object
 30  complementAdresse2Etablissement                 object
 31  numeroVoie2Etablissement                        object
 32  indiceRepetition2Etablissement                  object
 33  typeVoie2Etablissement                          object
 34  libelleVoie2Etablissement                       object
 35  codePostal2Etablissement                        object
 36  libelleCommune2Etablissement                    object
 37  libelleCommuneEtranger2Etablissement            object
 38  distributionSpeciale2Etablissement              object
 39  codeCommune2Etablissement                       object
 40  codeCedex2Etablissement                         object
 41  libelleCedex2Etablissement                      object
 42  codePaysEtranger2Etablissement                  object
 43  libellePaysEtranger2Etablissement               object
 44  dateDebut                                       object
 45  etatAdministratifEtablissement                  object
 46  enseigne1Etablissement                          object
 47  enseigne2Etablissement                          object
 48  enseigne3Etablissement                          object
 49  denominationUsuelleEtablissement                object
 50  activitePrincipaleEtablissement                 object
 51  nomenclatureActivitePrincipaleEtablissement     object
 52  caractereEmployeurEtablissement                 object
dtypes: bool(1), datetime64[us](1), float64(1), int64(2), object(48)
memory usage: 16.4+ GB

In [5]:
df_eta.head()

,siren,nic,siret,statutDiffusionEtablissement,dateCreationEtablissement,trancheEffectifsEtablissement,anneeEffectifsEtablissement,activitePrincipaleRegistreMetiersEtablissement,dateDernierTraitementEtablissement,etablissementSiege,...,libellePaysEtranger2Etablissement,dateDebut,etatAdministratifEtablissement,enseigne1Etablissement,enseigne2Etablissement,enseigne3Etablissement,denominationUsuelleEtablissement,activitePrincipaleEtablissement,nomenclatureActivitePrincipaleEtablissement,caractereEmployeurEtablissement
0,000325175,16,00032517500016,O,2000-09-26,NN,NaN,3212ZZ,2024-03-22 15:40:57,False,...,None,2009-05-27,F,None,None,None,None,32.12Z,NAFRev2,N
1,000325175,24,00032517500024,O,2008-05-20,NN,NaN,None,2025-01-27 02:35:48,False,...,None,2011-10-21,F,TAHITI PERLES CREATIONS,None,None,None,47.89Z,NAFRev2,N
2,000325175,32,00032517500032,O,2009-05-27,NN,NaN,None,2025-01-27 02:31:40,False,...,None,2011-10-21,F,TAHITI PERLES CREATIONS,None,None,None,32.12Z,NAFRev2,N
3,000325175,40,00032517500040,O,2011-10-21,NN,NaN,3212ZZ,2024-03-30 05:48:29,False,...,None,2014-01-07,F,TAHITI PERLES CREATION,None,None,None,32.12Z,NAFRev2,N
4,000325175,57,00032517500057,O,2014-01-07,NN,NaN,None,2024-03-30 05:29:10,False,...,None,2018-02-07,F,TAHITI PERLES CREATION,None,None,None,32.12Z,NAFRev2,N

In [6]:
df_unit_legal = pd.read_parquet("Data/raw/StockUniteLegale_utf8.parquet", engine='pyarrow')

In [7]:
df_unit_legal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28882409 entries, 0 to 28882408
Data columns (total 34 columns):
 #   Column                                     Dtype
---  ------                                     -----
 0   siren                                      object
 1   statutDiffusionUniteLegale                 object
 2   unitePurgeeUniteLegale                     object
 3   dateCreationUniteLegale                    object
 4   sigleUniteLegale                           object
 5   sexeUniteLegale                            object
 6   prenom1UniteLegale                         object
 7   prenom2UniteLegale                         object
 8   prenom3UniteLegale                         object
 9   prenom4UniteLegale                         object
 10  prenomUsuelUniteLegale                     object
 11  pseudonymeUniteLegale                      object
 12  identifiantAssociationUniteLegale          object
 13  trancheEffectifsUniteLegale                object
 14  anneeEffectifsUniteLegale                  float64
 15  dateDernierTraitementUniteLegale           datetime64[us]
 16  nombrePeriodesUniteLegale                  int64
 17  categorieEntreprise                        object
 18  anneeCategorieEntreprise                   float64
 19  dateDebut                                  object
 20  etatAdministratifUniteLegale               object
 21  nomUniteLegale                             object
 22  nomUsageUniteLegale                        object
 23  denominationUniteLegale                    object
 24  denominationUsuelle1UniteLegale            object
 25  denominationUsuelle2UniteLegale            object
 26  denominationUsuelle3UniteLegale            object
 27  categorieJuridiqueUniteLegale              int64
 28  activitePrincipaleUniteLegale              object
 29  nomenclatureActivitePrincipaleUniteLegale  object
 30  nicSiegeUniteLegale                        int64
 31  economieSocialeSolidaireUniteLegale        object
 32  societeMissionUniteLegale                  object
 33  caractereEmployeurUniteLegale              object
dtypes: datetime64[us](1), float64(2), int64(3), object(28)
memory usage: 7.3+ GB

In [8]:
df_unit_legal.head()

,siren,statutDiffusionUniteLegale,unitePurgeeUniteLegale,dateCreationUniteLegale,sigleUniteLegale,sexeUniteLegale,prenom1UniteLegale,prenom2UniteLegale,prenom3UniteLegale,prenom4UniteLegale,...,denominationUsuelle1UniteLegale,denominationUsuelle2UniteLegale,denominationUsuelle3UniteLegale,categorieJuridiqueUniteLegale,activitePrincipaleUniteLegale,nomenclatureActivitePrincipaleUniteLegale,nicSiegeUniteLegale,economieSocialeSolidaireUniteLegale,societeMissionUniteLegale,caractereEmployeurUniteLegale
0,000325175,O,None,2000-09-26,None,M,THIERRY,None,None,None,...,None,None,None,1000,32.12Z,NAFRev2,65,None,None,None
1,001807254,O,None,1972-05-01,None,M,JACQUES-LUCIEN,None,None,None,...,None,None,None,1000,85.59A,NAFRev2,22,None,None,None
2,005410220,O,True,1954-12-25,None,M,GEORGES,None,None,None,...,None,None,None,1000,22.02,NAP,15,None,None,None
3,005410345,O,True,None,None,M,MICHEL,None,None,None,...,None,None,None,1000,79.06,NAP,10,None,None,None
4,005410394,O,True,1954-12-25,None,M,ROBERT,ALFRED,None,None,...,None,None,None,1000,64.42,NAP,18,None,None,None

In [ ]:
import pandas as pd

df_bilan = pd.read_parquet("Data/raw/ExportDetailBilan.parquet", engine='pyarrow')

In [5]:
import pandas as pd
import polars as pl
import pyarrow.parquet as pq  # C'est le moteur 4x4
import sys

# Indique le chemin de ton fichier
filepath = "../Data/raw/ExportDetailBilan.parquet" 

print("--- Début de la lecture 'bypass' ---")

try:
    # ÉTAPE 1 : On lit avec le 4x4 (PyArrow), qui est robuste.
    # On ne prend que les 2 colonnes qui nous intéressent (c'est plus rapide)
    print(f"Lecture du fichier via PyArrow (le moteur robuste) : {filepath}")
    table_arrow = pq.read_table(
        filepath,
        columns=["siren", "liasse"]
    )
    
    # ÉTAPE 2 : On passe la data (sans la copier !) à la F1 (Polars)
    print("Conversion de la table PyArrow en DataFrame Polars...")
    df_bilan_pl = pl.from_arrow(table_arrow)
    
    print("--- SUCCÈS ! ---")
    print("Le DataFrame est maintenant dans Polars, prêt pour la transformation.")
    print(df_bilan_pl.head())

except Exception as e:
    print(f"--- ERREUR ---", file=sys.stderr)
    print(f"Impossible de lire le fichier, même avec PyArrow : {e}", file=sys.stderr)

--- Début de la lecture 'bypass' ---
Lecture du fichier via PyArrow (le moteur robuste) : ../Data/raw/ExportDetailBilan.parquet
Conversion de la table PyArrow en DataFrame Polars...
--- SUCCÈS ! ---
Le DataFrame est maintenant dans Polars, prêt pour la transformation.
shape: (5, 2)
┌───────────┬─────────────────────────────────┐
│ siren     ┆ liasse                          │
│ ---       ┆ ---                             │
│ str       ┆ list[struct[2]]                 │
╞═══════════╪═════════════════════════════════╡
│ 005420120 ┆ [{"HF",111571}, {"BH-BI",2559}… │
│ 005420120 ┆ [{"GK",74833}, {"AS",90304}, …… │
│ 005420120 ┆ [{"HF",151562}, {"NH",5850813}… │
│ 005420120 ┆ [{"HC",918483}, {"CU-CV",66917… │
│ 005420120 ┆ [{"AO",425420}, {"CH-CI",14383… │
└───────────┴─────────────────────────────────┘

In [6]:
df_bilan_pl.describe()

shape: (9, 3)
┌────────────┬───────────┬────────────┐
│ statistic  ┆ siren     ┆ liasse     │
│ ---        ┆ ---       ┆ ---        │
│ str        ┆ str       ┆ f64        │
╞════════════╪═══════════╪════════════╡
│ count      ┆ 4976444   ┆ 4.976444e6 │
│ null_count ┆ 0         ┆ 0.0        │
│ mean       ┆ null      ┆ null       │
│ std        ┆ null      ┆ null       │
│ min        ┆ 005420120 ┆ null       │
│ 25%        ┆ null      ┆ null       │
│ 50%        ┆ null      ┆ null       │
│ 75%        ┆ null      ┆ null       │
│ max        ┆ 999990542 ┆ null       │
└────────────┴───────────┴────────────┘

In [8]:
# Je veuxc montrer tous ce qu'il y a dans la colonne liasse pour la premier ligne
liasse_premiere_ligne = df_bilan_pl.select(pl.col("liasse")).row(0)[0]
liasse_premiere_ligne

[{'key': 'HF', 'value': 111571},
 {'key': 'BH-BI', 'value': 2559},
 {'key': 'CJ-CK', 'value': 15117606},
 {'key': 'DO', 'value': 0},
 {'key': 'EA', 'value': 123502},
 {'key': 'EG', 'value': 841098},
 {'key': 'FW', 'value': 385776},
 {'key': 'GA', 'value': 224479},
 {'key': 'GL', 'value': 619956},
 {'key': 'CD-CE', 'value': 12917722},
 {'key': 'QU', 'value': 2368581},
 {'key': 'CF', 'value': 1404319},
 {'key': 'FY', 'value': 559989},
 {'key': 'AT', 'value': 244629},
 {'key': 'EC', 'value': 4341098},
 {'key': 'FJ', 'value': 135797},
 {'key': 'FL', 'value': 135797},
 {'key': 'UC', 'value': 12390},
 {'key': 'EB', 'value': 338608},
 {'key': 'CD', 'value': 13219183},
 {'key': 'CF-CG', 'value': 1404319},
 {'key': 'FA', 'value': 4623},
 {'key': 'HE', 'value': 0},
 {'key': 'HN', 'value': -289131},
 {'key': 'ØJ', 'value': 2377248},
 {'key': 'PE', 'value': 28475},
 {'key': 'AN-AO', 'value': 1888651},
 {'key': 'LW', 'value': 568768},
 {'key': 'MY', 'value': 0},
 {'key': 'ØR', 'value': 2563605},
 {'key': 'HB', 'value': 209176},
 {'key': 'DJ', 'value': 1064},
 {'key': 'FQ', 'value': 206166},
 {'key': 'BB-BC', 'value': 9347425},
 {'key': 'BV', 'value': 199270},
 {'key': 'CO', 'value': 102067174},
 {'key': 'GG', 'value': -1281259},
 {'key': 'AV-AW', 'value': 302441},
 {'key': 'CH', 'value': 36923},
 {'key': 'DQ', 'value': 2839131},
 {'key': 'ØQ', 'value': 57930},
 {'key': '0N', 'value': 2397056},
 {'key': 'BI', 'value': 0},
 {'key': 'BY', 'value': 0},
 {'key': 'BZ-CA', 'value': 529304},
 {'key': 'GK', 'value': 28079},
 {'key': 'GU', 'value': 270861},
 {'key': 'HG', 'value': 9499},
 {'key': 'LQ', 'value': 76770039},
 {'key': 'AG', 'value': 28475},
 {'key': 'AF', 'value': 28475},
 {'key': 'AO', 'value': 400322},
 {'key': 'AR', 'value': 91228},
 {'key': 'CJ', 'value': 17122824},
 {'key': 'DK', 'value': 217140},
 {'key': 'FP', 'value': 128933},
 {'key': 'FS', 'value': 4623},
 {'key': '0G', 'value': 82649327},
 {'key': 'KD', 'value': 28475},
 {'key': 'UD', 'value': 217140},
 {'key': 'GE', 'value': 140764},
 {'key': 'HK', 'value': -36345},
 {'key': 'KE', 'value': 0},
 {'key': 'QX', 'value': 2508086},
 {'key': 'CH-CI', 'value': 36923},
 {'key': 'AT-AU', 'value': 47706},
 {'key': 'CU-CV', 'value': 68919865},
 {'key': 'DB', 'value': 7963},
 {'key': 'DI', 'value': -289131},
 {'key': 'LS', 'value': 1503473},
 {'key': 'AJ-AK', 'value': 513249},
 {'key': 'CE', 'value': 301461},
 {'key': 'DA', 'value': 711840},
 {'key': 'FH', 'value': 0},
 {'key': 'LO', 'value': 0},
 {'key': 'LP', 'value': 333483},
 {'key': 'NH', 'value': 6102070},
 {'key': 'ØL', 'value': 84944350},
 {'key': 'AS', 'value': 80009},
 {'key': 'FI', 'value': 130220},
 {'key': 'FZ', 'value': 273524},
 {'key': 'FG', 'value': 130220},
 {'key': 'AP', 'value': 3174799},
 {'key': 'BX-BY', 'value': 30068},
 {'key': 'DY', 'value': 125863},
 {'key': 'AK', 'value': 27044},
 {'key': 'AR-AS', 'value': 11219},
 {'key': 'CV', 'value': 0},
 {'key': 'DG', 'value': 89549282},
 {'key': 'DR', 'value': 2887911},
 {'key': 'FU', 'value': 23923},
 {'key': 'ØK', 'value': 82226},
 {'key': 'AN', 'value': 2288972},
 {'key': 'CR', 'value': 1299000},
 {'key': 'GR', 'value': 8056},
 {'key': 'ØP', 'value': 224479},
 {'key': 'BD-BE', 'value': 3663},
 {'key': 'BJ-BK', 'value': 82380745},
 {'key': 'CO-1A', 'value': 97498351},
 {'key': 'FE', 'value': 0},
 {'key': 'HA', 'value': 280517},
 {'key': 'AP-AQ', 'value': 1343968},
 {'key': 'DD', 'value': 71183},
 {'key': 'GQ', 'value': 262805},
 {'key': 'HI', 'value': 481014},
 {'key': 'BD', 'value': 3663},
 {'key': 'BX', 'value': 30068},
 {'key': 'NG', 'value': 82226},
 {'key': 'AU', 'value': 196924},
 {'key': 'BK', 'value': 2563605},
 {'key': 'BV-BW', 'value': 199270},
 {'key': 'DL', 'value': 90269342},
 {'key': 'EE', 'value': 97498351},
 {'key': 'AQ', 'value': 1830832},
 {'key': 'AF-AG', 'value': 0},
 {'key': 'AV', 'value': 302441},
 {'key': 'BC', 'value': 0},
 {'key': 'DX', 'value': 148218},
 {'key': 'GJ', 'value': 39482},
 {'key': 'GV', 'value': 474769},
 {'key': 'HL', 'value': 1818609},
 {'key': '1A', 'value': 4568823},
 {'key': 'DP', 'value': 48780},
 {'key': 'FB', 'value': 0},
 {'key': 'FD', 'value': 954},
 {'key': 'UB', 'value': 9499},
 {'key': 'BH', 'value': 2559},
 {'key': 'HC', 'value': 112390},
 {'key': 'HH', 'value': 121070},
 {'key': 'PF', 'value': 27044},
 {'key': 'QV', 'value': 197435},
 {'key': 'AW', 'value': 0},
 {'key': 'DV', 'value': 2604908},
 {'key': 'FK', 'value': 0},
 {'key': 'GM', 'value': 58113},
 {'key': 'GP', 'value': 745630},
 {'key': 'GW', 'value': -806491},
 {'key': 'CG', 'value': 0},
 {'key': 'CI', 'value': 0},
 {'key': 'DZ', 'value': 1000000},
 {'key': 'FC', 'value': 4623},
 {'key': 'FX', 'value': 131400},
 {'key': 'PH', 'value': 55519},
 {'key': 'BW', 'value': 0},
 {'key': 'CU', 'value': 68919865},
 {'key': 'GF', 'value': 1752156},
 {'key': 'I3', 'value': 0},
 {'key': 'LN', 'value': 5850813},
 {'key': 'NK', 'value': 78273512},
 {'key': 'BE', 'value': 0},
 {'key': 'BJ', 'value': 84944350},
 {'key': 'BZ', 'value': 2233060},
 {'key': 'CK', 'value': 2005218},
 {'key': 'HD', 'value': 602083},
 {'key': 'HM', 'value': 2107740},
 {'key': 'BB', 'value': 9347425},
 {'key': 'CA', 'value': 1703757},
 {'key': 'GD', 'value': 7678},
 {'key': 'AJ', 'value': 540293},
 {'key': 'FF', 'value': 954},
 {'key': 'FR', 'value': 470896},
 {'key': 'I4', 'value': 0},
 {'key': 'ØH', 'value': 0},
 {'key': 'QW', 'value': 57930},
 {'key': '7C', 'value': 220031}]